/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset.css */

/* Start of style.css */

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

#map {
    width: 100%;
    height: 100%;
}

.line-name {
    height: 1.5em;
    width: 1.5em;
    padding: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    border-radius: 15%;
}

td .line-name {
    display: block;
}

.line-display {
    height: auto;
    width: auto;
    padding: 1em;
    text-align: center;
    align-content: center;
    background-color: antiquewhite;
    border-radius: 0.5em;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.destination {
    position: relative;
    top: 0.7em;
    font-style: italic;
    font-size: 0.8em;
}

table.stops tr {
    margin: 0;
    padding: 0;
}

table.stops tr td{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
}

.stop-name {
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    width: inherit;
    background-color: #5d5d5d;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
}

.lines-list {
    height: 130%;
}

.stop-popup table {
    display: block;
}

.button-horaires {
    position: relative;
    top: 0.9em;
    background-color: #939393;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    text-align: center;
}

.side-box {
    position: absolute;
    top: 0;
    margin-top : 6em;
    margin-bottom: 6em;
    margin-left: 3em;
    z-index: 9999;
    text-align: center;
    width: 20em;
    height: 45em;
    background-color:white;
    border-radius: 0.5em;
}

#side-box-left {
    float: left;
    padding: 10px;
}

#side-box-right {
    right: 0;
    margin-right: 3em;
    float: right;
    visibility: hidden;
    padding: 10px;
    overflow: scroll;
}

#table-horaire td {
    padding: 0.5em;
    text-align: center;
}

#table-horaire tbody:nth-child(2) tr {
    font-weight: bolder;
}

#table-horaire tr.commentaire td .author-comment {
    font-weight: bolder;
}

#table-horaire tr.commentaire td {
    text-align: left;
}

#table-horaire table {
    display: block;
    max-width: 90%;
}

#btn-commentaire {
    background-color: #939393;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    text-align: center;
}